body{
    background-image: url(/Proy27Abril/6938839_3409297.jpg);
}
table{
    width: 100%;
    
}
.padre{
    background-color: rgb(88, 60, 244);
    padding: 10px;
    width: 98%;
    border-style: double;
    border-width: 10px;
    border-radius: 30px;
}
header{
    background-color: rgb(110, 60, 225);
    padding: 15px;
    font-size: 10px;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    width: 97.6%;
    border-radius: 30px;
    border: 5px solid rgb(0, 0, 0);
}
.logo{
    background-color: rgb(82, 205, 242);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    height: 100%;
    border-radius: 25px;
}
.titulo{
    background-color: rgb(91, 233, 236);
    font-size: 18px;
    width: 70%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
    margin: 3px;
    border-radius: 30px;
}
nav{
    background-color: rgb(94, 192, 231);
    width: 99%;
    height: 70px;
    padding: 5px;
    border-radius: 25px;
    border: 5px solid rgb(0, 0, 0);
}
.caja{
    width: 135px;
    height: 40px;
    border: 3px outset  rgb(147, 242, 209);
    background-color: rgb(130, 247, 219);
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    margin: 5px;
    font-size: 18px;
}
section{
    background-color: rgb(128, 99, 240);
    padding: 6px;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
footer{
    background-color: aqua;
    padding: 1px;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px solid rgb(0, 0, 0);
}